{{#each feed}}
  <div class="testfeed">
    <img src="{{this.images.standard_resolution.url}}" class="photo" />
    <!-- <p>Likes: {{this.likes.count}} Comments: {{this.comments.count}} </p> -->
    <button class="buttonleft">Like</button>
    <button class="buttonright">Comment</button>
  </div>
{{/each}}
