<!DOCTYPE = html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="/css/global.css">
  <link rel="stylesheet" type="text/css" href="/css/tibbitts.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="/js/tibbitts.js"></script>
</head>

<body>
  <div class="jw-main-navigation">
    <div class="jw-logo">
      <a href="/user/dashboard"><img src="/images/utah_state_aggies.png" class="jw-logo" alt="logo" /></a>
    </div>
    <div class="jw-navbar">
        <ul class="jw-navbar">
          <div class="clear-fix"></div>
          <li class="jw-navbar">
            <a class="jw-navbar" href="/user/dashboard"><img src="/images/home.png" class="homeicon" alt="home" /></a>
          </li>
          <li class="jw-navbar">
            <!--
              The following form is the search form that receives the search query
                which is used in user.js:req.query.search
              -->
          <form class = "jw-search" method="get" action="/user/search">
              <input class="jw-search" type="text" name="search" value="">
                <input class="jw-search-button" type="submit" name="submit" value="">
          </form>
          </li>
        </ul>
        <li class="profileOne">
          <a class="profileOne" href="/user/profile"><img src="{{user.profile_picture}}" class="prof" alt="prof" /></a>
        </li>
        </ul>
      </div>
    </div>


    {{{body}}}
  </body>
