<!DOCTYPE = html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="/css/global.css">
  <link rel="stylesheet" type="text/css" href="/css/tibbitts.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="/js/tibbitts.js"></script>
</head>

<body>
  <div class="jw-main-navigation">
    <div class="jw-logo">
      <img src="http://www.fillmurray.com/150/150" class="jw-logo" alt="logo" />
    </div>
    <div class="jw-navbar">
        <ul class="jw-navbar">
          <div class="clear-fix"></div>
          <li class="jw-navbar">
            <a class="jw-navbar" href="home.html"><img src="/images/home.png" class="homeicon" alt="home" /></a>
          </li>
          <li class="jw-navbar">
            <form>
              <input class="jw-search">
            </form>
          </li>
          <li>
            <a href="#"><img src="http://www.clipartbest.com/cliparts/4cb/K7G/4cbK7Gggi.png" class="jw-search" alt="search" /></a>
          </li>
        <li class="profileOne">
          <a class="profileOne" href="profile.html"><img src="/images/Empty_Profile_picture.png" class="prof" alt="prof" /></a>
        </li>
        </ul>
      </div>
    </div>

    {{{body}}}
  </body>
