<div class= "WelcomePage" >
<h1 style= >Welcome to our Instagram Application!</h1>
<h2 style= >Press Sign In below to sign in to your Instagram Account!</h2>
<a href="/authorize"><button type="button" class='signinbutton'>SIGN IN</button></a>
</div>
