/*
  JOSHUA WILDING
    Primarily styles the navigation bar and the saved searches.
*/
/*
  !CLEAR FIX
*/
.clear-fix {
  clear: both;
}
/*
  !NAVIGATION
*/
.jw-main-navigation {
  position: fixed;
  float: left;
  top:0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  height: 100px;
  z-index: 6;
}
/*
  !LOGO
*/
.jw-logo {
  position:relative;
  float:left;
  margin: 0;
  top:0;
  padding: 0;
  height: 100%;
  width: 9%;
  border-radius: 0px 0px 20px 0px;
  background-color: #c0bcb3;
}
img.jw-logo {
  margin:0;
  padding:0;
  width: 100%;
}
/*
  !NAVBAR
*/
.jw-navbar {
  position: relative;
  float:left;
  background-color: #aaa7a0;
  top:0;
  margin-left: 0;
  width:91%;
  height: 50%;
}
ul.jw-navbar {
  position:relative;
  float:left;
  margin-right: 0;
  padding-left: 0;
  margin-top:1%;
  list-style-type: none;
}
li.jw-navbar {
  position:relative;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 0;
  width: 5%;
  display: inline;
}
a.jw-navbar {
  color: #FFFFFF;
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
}
/*
  !SEARCH
*/
.jw-search {
  position: fixed;
  float:left;
  margin-top: 0;
  margin-left: 0;
  margin-right:20%;
  margin-bottom: 0;
  padding:0;
  height:4%;
  width: 50%;
  font-style:italic;
  font-family: sans-serif;
  font-size: 18px;
  border-radius: 4px 4px 4px 4px;
  color: #A3A3A3;
}
img.jw-search {
  position:fixed;
  float:right;
  display: inline;
  margin-left: 40%;
  margin-top: 0;
  margin-right: 0;
  width: 30px;
  height: 30px;
}
/*
  !SAVED SEARCH CONTAINER
*/
div.jw-saved-search-container {
  position:fixed;
  float:left;
  padding:0;
  margin-left: 16.6%;
  margin-top: 2.4%;
  width: 50%;
  background-color: #85C2A5;
}
ul.jw-saved-search-container {
  margin:0;
  padding:0;
  list-style-type: none;
  font-size: 17px;
  font-style: italic;
  color: #FFFFFF;
}
li.jw-saved-search-container {
  margin: 0;
  border-width:5px;
  padding-top:1%;
  padding-bottom:1%;
  padding-right: 20px;
  padding-left: 1%;
  border-style:solid;
  border-color: grey;
}
a.jw-saved-search-container {
  text-decoration: none;
  color:#FFFFFF;
}
/*
  !BODY
*/
body {
  margin:0;
  font-family: sans-serif;
  font-size: 17px;
}
.main-body {
  float:left;
  margin-left:6%;
  margin-right:6%;
  margin-top: 160px;
}

/*
  TERIK BRUNSON
*/
li.profileOne{
	position:relative;
	margin-left: 95%;
}
.prof{
	width: 30px;
	heigth: 30px;
}
.home-body {
  text-align:center;
  margin-left:25%;
  margin-right:25%;
  margin-top: 10%;
  margin-bottom: 30%;
}
.buttons{
text-align:center;
  margin-left:47%;
  margin-right:50%;
  margin-top: 750px;
}
.homeicon{
	height: 30px;
}
/*
  SOURCES:
    http://www.w3schools.com/tags/tag_input.asp
    http://www.w3schools.com/tags/ref_colorpicker.asp
    http://www.w3schools.com/css/css_howto.asp
    http://www.w3schools.com/cssref/css3_pr_border-radius.asp
    http://www.w3schools.com/tags/ref_eventattributes.asp
    http://www.w3schools.com/html/html_lists.asp
*/
